@import "tailwindcss";

@theme {
  --breakpoint-lg: 1400px;
}

:root {
  --background: #0b1125;
  --foreground: #c2c2c2;
  --white: #ffffff;
  --black: #000;
  --font-sans: var(--font-inter);
  --font-display: var(--font-space-grotesk);
  --font-second-display: var(--font-montserrat);
  --highlight-color: #1876d2;
  --secondary-color: #101828;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), "Segoe UI", Roboto, sans-serif;
}

.font-display {
  font-family: var(--font-space-grotesk), "Segoe UI", Roboto, sans-serif;
}
.font-display {
  font-family: var(--font-space-grotesk), "Segoe UI", Roboto, sans-serif;
}

.font-second-display {
  font-family: var(--font-montserrat), "Segoe UI", Roboto, sans-serif;
}
