@import "tailwindcss";

:root {
  --background: #0b1125;
  --background-secondary: #171d30;
  --foreground: #c2c2c2;
  --white: #ffffff;
  --black: #000;
  --font-sans: var(--font-inter);
  --font-display: var(--font-space-grotesk);
  --font-second-display: var(--font-montserrat);
  --highlight-color: #1876d2;
  --secondary-color: #101828;
  --pendente-color: #d2b843;
  --ativo-color: #43d2cb;
  --concluido-color: #34a853;
  --danger-color: #ea4335;
  --text-secondary-color: #90a1b9;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), "Segoe UI", Roboto, sans-serif;
}

.font-display {
  font-family: var(--font-space-grotesk), "Segoe UI", Roboto, sans-serif;
}
.font-display {
  font-family: var(--font-space-grotesk), "Segoe UI", Roboto, sans-serif;
}

.font-second-display {
  font-family: var(--font-montserrat), "Segoe UI", Roboto, sans-serif;
}

.button-shiny {
  @apply bg-sky-500 px-4 py-2 text-white transition-all duration-300 hover:scale-105 hover:bg-sky-600 hover:shadow-[0_0_20px_rgba(14,165,233,0.6)];
}
.card-board {
  @apply rounded-xl border border-slate-700/50 bg-slate-800/50 p-4 sm:p-5 lg:p-6;
}

.buttons-pagination {
  @apply rounded px-2 py-1 text-(--text-secondary-color) transition-colors hover:text-white disabled:cursor-not-allowed disabled:opacity-50;
}
